<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    iiWeb通用框架 授权声明
    ====================================================================================================
    iiWeb是一套专门用于开发企业信息化系统的通用框架，基于微软.NET/SQL实现，它封装了构建一个B/S架构的应用
    系统几乎所有的基础功能。
    
    iiWeb是一套商业模板包。在您获得iiWeb著作权所有人或Plusii.com负责人的书面授权后，您才可以在您的计算机
    上保留该模板包的副本，或者使用它构建您自己的应用系统并发布使用。
    否则，请立即删除iiWeb模板包及其任何形式的副本，更不得将基于本框架构建的系统发布使用。
    
    一般情况下，已获得授权的开发者和他的最终用户，只能在“授权指定的应用系统”中使用iiWeb框架，任何形式
    的拆分、逆向或者复用都会被视为侵权行为。
    
    对于侵权行为，我们将保留对您和您的最终用户追究法律责任、追讨赔偿的权利！    
    ====================================================================================================
    更多未尽事宜请联系：Hedda@Plusii.com 或 QQ：9812152
    ====================================================================================================
    -->
    <!--最后更新：20110716-->
    <add key="SystemVersion" value="V1.0.0.0"/>
    <!--系统-->
    <add key="SystemID" value="iiSystem"/>
    <!--Data Source=(localdb)\v11.0;Initial Catalog=RLDBDEMO;Integrated Security=True-->
    <add key="DB" value="RGF0YSBTb3VyY2U9KGxvY2FsKTtJbml0aWFsIENhdGFsb2c9aWlXZWJUZW1wbGF0ZTtJbnRlZ3JhdGVkIFNlY3VyaXR5PVRydWU="/>
    <!--框架-->
    <!--Data Source=(localdb)\v11.0;Initial Catalog=RLDBDEMO;Integrated Security=True-->
    <add key="iiWeb" value="RGF0YSBTb3VyY2U9KGxvY2FsKTtJbml0aWFsIENhdGFsb2c9aWlXZWJUZW1wbGF0ZTtJbnRlZ3JhdGVkIFNlY3VyaXR5PVRydWU="/>
    <!--脚本多语言支持-->
    <add key="GlobalizationResourceNames" value="SystemName|OKButton|RequiredFieldValidationErrorMessage|DateFormat|AltDateFormat|ConfirmMessage|ConfirmPasswordErrorMessage"/>
    <!--Cookie有效期（天）-->
    <add key="CookieExpires" value="3"/>
  </appSettings>
  <connectionStrings/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--文化-->
    <globalization culture="zh-CN" uiCulture="zh-CN"/>
    <!--主题-->
    <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
  </system.web>
</configuration>